@import 'layaout/header';
@import 'layaout/interactive-menu';
@import 'layaout/modal';
@import 'layaout/networks';
@import 'layaout/title';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-one{
    width: 100%;
    min-height: 100vh;
    height:auto;
    background-color: rgb(240, 193, 123);
    display: flex;
    flex-direction: column;
    align-items: center;
}

