.footer__content{
    background-color: #6e1505;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.footer__title{
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    color: white;
    padding-top: 20px;
}

.footer__text{
    color: white;
    font-size: 12px;
}

.footer__social a{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: color 0.3s ease;
}

.footer__social a:hover{
    color: #ffdd99;
}

.footer__social a svg{
    width: 15px;
    height: 15px;
    flex-shrink: 0;  
}

@media (min-width:768px){
    .footer__title{
        font-size: 45px;
    }
    
    .footer__text{
        font-size: 16px;
    }
}

@media (min-width:1024px){
    .footer__title{
        font-size: 60px;
    }
    
    .footer__text{
        font-size: 18px;
    }

    .footer__social{
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .footer__social a{
        font-size: 18px;
    }
}