.header__menu-button{
    position: fixed;
    z-index: 900;
}

.header__menu-icon{
    width: 50px;
    height: 50px;
    background-color: #9e420d;
    color: white;
    border: none;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
}

.header__menu-icon svg{
    width: 30px;
    height: 30px;
}

.nav{
  position: fixed;
  top: 0;
  left: -75%;
  width: 75%;
  height: 100%;
  background: #8f7a52;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  z-index: 1000;
  transition: left 0.1s;
}

.nav.active{
    left: 0;
}

.nav__close-button{
    width: 100%;
    height: 50px;
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #9e420d;
    border-bottom: 2px solid white;
}

.nav__close-icon{
    background: none;
    color: white;
    font-size: 30px;
    width: 20%;
    position: absolute;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}

.nav__close-icon svg {
    width: 30px;
    height: 30px;
}

.nav__logo{
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    color: white;
}

.nav__list{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 90%;
    position: relative;
    top: 20px;
}

.nav__item{
    font-family: "Zalando Sans SemiExpanded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 22px;
    text-align: left;
    margin: 10px;
}

.nav__item a{
    text-decoration: none;
    color: white;
    display: flex;             
    align-items: center;       
    gap: 8px;
}

.nav__item a svg{
    width: 20px;
    height: 20px;
    flex-shrink: 0;  
}

.nav__cart{
    width: 150px;
    height: 50px;
    background-color: #9e420d;
    color: #fff;
    position: relative;
    top: 25px;
    border: 2px solid #fff;
    border-radius: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__cart svg{
    width: 22px;
    height: 22px;
}

#cart-count{
    display: none;
    position: absolute;
    right: 48px;
    bottom: 22px;
    background: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
}

@media (min-width:768px) {
    #cart-count{
        right: 10px;
        bottom: 30px;
    }

    .btn-nav{
        display: none;
    }

    .nav{
        left: 0;
        width: 100%;
        height: 60px;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 2rem;
        background: #9e420d;
        transition: none;
    }

    .nav__logo{
        transition: color 0.3s ease;
    }

    .nav__logo:hover{
        color: #ffdd99;
    }

     .nav__list {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        position: static; 
        width: auto;
        margin-right: 5%;
    }

    .nav__item {
        margin: 0;
        font-size: 14px;
        transition: 0.5s;
    }

    .nav__item a{
        gap: 2px;
        position: relative;
        padding: 5px 8px;
        transition: color 0.3s ease;
    }

    .nav__item a:hover{
        color: #ffdd99;
    }

    .nav__item a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #ffdd99;
    transition: width 0.3s ease;
    }

    .nav__item a:hover::after {
    width: 100%;
    }

    .nav__cart {
        position: absolute;
        top: 0;
        right: 0;
        width: 60px;
        height: 60px;
        border-radius: 0%;
        border: none;
        border-left: 2px solid white ;
        transition: background-color 0.3s ease,
    }

    .nav__cart:hover {
    background-color: #8f7a52;
    }
}